<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.
    0">
    <link rel="stylesheet" href="./style.css">
    <title>Registration form</title>
</head>
<body>
    <div class="head">
        <div>
            <img src="/img/logo2.png" alt="logo-left" class="logo--left">
        </div>
        <div>
            <h2 class="heading--primary">
                BIHAR COUNCIL ON SCIENCE & TECHNOLOGY
            </h2>
            <h3 class="heading--sec">
                Department of science & technology, govt. of bihar
            </h3>
        </div>
        <div>
            <img src="/img/logo2.png " alt="logo-right" class="logo--right">
        </div>
    </div>
    <div class="main">
        <div>
           <h2 class="heading__main">sri ramanujan talent search mathematics - 2022</h2> 
           <p class="para--1">
            e-admit card
           </p>
        </div>

        <div class="row">
            <div class="col-1-of-2 col--1">
                <p class="para--2">Roll No <input type="text" class="ml--2" id="Roll_No"></p>
                <p class="para--2">Registration No <input type="text" class="ml--2" id="Reg_No"></p>
                <p class="para--2">Candidate Name <input type="text" class="ml--2" id="Candidate_name"></p>
                <p class="para--2">Candidate Father's Name <input type="text" class="ml--2" id=C_Father_Name></p>
                <p class="para--2">Date of Birth <input type="date" class="ml--2 pd" id="Dob"></p>
                <p class="para--2">School Name<input type="text" class="ml--2" id="School_Name"></p>   
            </div>
            <div class="col-1-of-2 col--2">
                <img src="../img/1.webp" alt="image" class="img__profile">
                <p class="para--2 mb">Signature <img src="../img/sig.png" alt="signature" id="C_sign" class="sign--1 ml--2"></p>
                <p class="para--2">Class<input type="number" id="C_class" class="ml--2"></p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__row">
            <div class="col-1-0f-2 footer__row--1">
                <div class="footer__content">
                    <h2 class="footer__header">Date</h2>
                    <p><input type="date" id="Exam_Date" class="footer__input"></p>
                </div>
                <div class="footer__content">
                    <h2 class="footer__header">Time</h2>
                    <p><input type="time" id="Exam_Time" class="footer__input"></p>
                </div>
                <div class="footer__content">
                    <h2 class="footer__header">Subject</h2>
                    <p class="footer__input">Mathemtics</p>
                </div>
                <div class="footer__content">
                    <h2 class="footer__header">Center Name</h2>
                    <p><textarea class="footer__input" id="Exam_Center" rows="4" cols="20"></textarea></p>
                </div>
            </div>
            <div class="col-1-0f-2 footer__row--2">
                <div class="footer__content---row--2">
                    <p>
                        Please keep this E-Admit Card safe, download and print the important instruction enclosed with this e-admit card and adhere all the important instruction given. If above given details are different from given in the application form please contact to BCST council.
                    </p>
                </div>
                <div  class="footer__sign">
                    <h3 class="sign--2">
                    </h3>
                    <p class="sign__content">
                        Exam-Controller <br> Signature
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="extra__content">
        <div>
            <h2>
                <span class="extra__content--header">Important Instruction</span> 
            </h2>
            <ol>
                <li>
                    Keep this Admit Card safe with you and follow/adhere to the given instructions.
                </li>
                <li>
                    The examination link will be available on offcial website of BCST-Patna-(www.bcst.org.in).
                </li>
                <li>
                    Detailed information of the process to activate and start the examination link will be available on Demo link-(www.bcst.org.in). All information related to online examination process can be obtained by clicking on above given link.
                </li>
                <li>
                    For appearing   at   the   Sri   Ramanujan   Talent   Search   Test   in   Mathematics-2022   online examination, students are instructed to bring their own laptop/mobile with internet facility. The students without these facilities may not be allowed to appear at the examination.
                </li>
                <li>
                    The students should reach the examination center before one hour of the starting time of the examination.   No   student   will   be   allowed   to   enter   into   the   examination   hall   after   starting   the examination, and no student will be allowed to leave the examination hall without permission of invigilators even he/she has submitted the answer sheet.
                </li>
                <li>
                    The   students   are   not   allowed   to   bring   any   item   inside   the   examination   hall   apart   from blue/black ball pen and A4 size blank page for the rough work.
                </li>
                <li>
                    If   any   student   is   found   with   Bluetooth,   Electronic   Gadget   Pen,   Smart   Watch,   Watch, Calculators, Whitener, Blade, Eraser etc. at examination center/hall, the BCST council may cancel his candidature.
                </li>
                <li>
                    If any student is found involved in any act of indiscipline, his candidature will be cancelled by BCST   council,   and   action   under   The   Bihar   Conduct   of   Examination   Act-1981   may   be   taken against him.
                </li>
                <li>
                    Students are instructed to keep their identity card with photographs such as Aadhar Card, EPIC,   PAN   CARD,   Driving   License,   Passport   etc.   to   show   during   the   entry   at   the   examination center.
                </li>
            </ol>
        </div>
        <div>
            <h2> <span class="extra__content--header">आवश्यक निर्देश</span> </h2>
            <ol>
                <li>
                    अपने साथ प्रवेश पत्र सदैव रखे। इस ई-प्रवेश पत्र को सुरक्षित रखे तथा  दिए गए निम्नवत आवश्यक निर्देश अक्षरश: अनुपालन करे ।
                </li>
                <li>
                    श्री रामानुजन Talent search Test in Mathematics 2022 के  Online Test मे भाग लेने हेतु सभी परिक्षार्थीगण अपने साथ इंटरनेट की सुविधा से युक्त मोबाइल/ लैपटॉप लाना सुनिश्चित करेंगे। जो परिक्षार्थी इन सामग्री को अपने साथ नही लाएंगे उनका परीक्षा काउंसिल द्वारा रद्द कर  दिया जाएगा ।
                </li>
                <li>
                    निर्धारित परीक्षा के केंद्र पर परीक्षा प्रारंभ होने के एक घंटा पूर्व पहुंच जाएं। परीक्षा प्रारंभ होने के बाद परीक्षा कक्ष में प्रवेश की अनुमति नहीं दी जाएगी तथा परीक्षा अवधि की समाप्ति के पूर्व किसी परीक्षार्थी को परीक्षा कक्ष छोड़ने की अनुमति नहीं दी जाएगी चाहे उसका अपना उत्तर पत्रक Online Examination के पूर्व जमा ही क्यों ना कर दिया गया हो। परीक्षा केंद्र में अपने निर्धारित स्थान पर ही बैठे। परीक्षा के दौरान अपने Computer पर दिए गए निर्देशों को ध्यान पूर्वक पढ़ें तथा उनका अक्षरश: पालन करें।
                </li>
                <li>
                    परीक्षा भवन में अपने साथ ब्लू / ब्लैक बॉल प्वाईंट पेन के अतिरिक्त कोई अन्य सामग्री ना लाएं।
                </li>
                <li>
                    ब्लूटूथ, गैजेट, इलेक्ट्रॉनिक पेन, स्मार्ट वॉच आदि जैसी इलेक्ट्रॉनिक सामग्री तथा Whitener / Blade / Eraser आदि आपके पास पाए जाने पर संबंधित अभ्यार्थी की उम्मीदवारी रद्द कर दी जाएगी।
                </li>
                <li>
                    अभ्यार्थी को किसी भी प्रकार के Calculator परीक्षा हॉल में ले जाने की अनुमति नहीं होगी।
                </li>
                <li>
                    किसी प्रकार के कदाचार में लिप्त पाए जाने पर संबंधित अभ्यार्थी को परीक्षा से निष्कासित कर दिया जाएगा तथा उसके विरुद्ध नियमानुकूल बिहार संचालन अधिनियम, 1981 के अंतर्गत के प्रावधानों के अनुसार परीक्षा संयोजक / केंद्राधीक्षक द्वारा वैधानिक कार्यवाही की जाएगी।
                </li>
                <li>
                    अभ्यार्थी अपनी फोटोयुक्त पहचान पत्र यथा आधार कार्ड, EPIC पैन कार्ड, ड्राइविंग लाइसेंस, पासपोर्ट इत्यादि साथ रखेंगे जिसे परीक्षा केंद्र पर पहचान के रूप में प्रस्तुत किया जा सके।
                </li>
            </ol>
        </div>
    </section>
</body>
</html>